html {
    height: 100%;
}

.tab {
    display: none;
}

.tab.active-tab {
    display: block;
}

.card-gradient {
    box-shadow: 0 2px 0 rgb(90 97 105 / 11%), 0 4px 8px rgb(90 97 105 / 12%), 0 10px 10px rgb(90 97 105 / 6%), 0 7px 70px rgb(90 97 105 / 10%);
}

.cursor-pointer {
    cursor: pointer !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media (max-width: 768px) {
    #settings .select {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .mt-xs-1 {
        margin-top: 0.5rem !important;
    }
}
